<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5">
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4">
        <div id="page-title">{{ "general.change-password" | translate }}</div>
        <div id="page-description"></div>
      </div>

      <form [formGroup]="passwordForm" class="text-black-primary">
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "user.password" | translate
          }}</label>
          <div class="col-sm-8">
            <input
              formControlName="password"
              type="password"
              autocomplete="off"
              class="form-control"
              [class.is-invalid]="password?.touched && password?.errors"
              [placeholder]="'user.password' | translate"
            />
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "user.confirm-password" | translate
          }}</label>
          <div class="col-sm-8">
            <input
              formControlName="confirmPassword"
              type="password"
              autocomplete="off"
              class="form-control"
              [class.is-invalid]="
                confirmPassword?.touched && confirmPassword?.errors
              "
              [placeholder]="'user.confirm-password' | translate"
            />
          </div>
        </div>
      </form>

      <hr class="border-bottom-0 mb-4" />

      <div class="d-flex justify-content-center">
        <button
          id="action-button"
          class="btn btn-light text-primary w-100 shadow-sm"
          style="max-width: 180px"
          (click)="cancel()"
        >
          {{ "action.cancel" | translate }}
        </button>
        <div class="mx-2"></div>
        <button
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="change()"
        >
          {{ "general.change-password" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
