<div
  class="d-flex flex-column p-3 p-lg-5"
  style="
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    margin-top: 60px;
  "
>
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">Banned Users</div>
      <div id="page-description">Banned users description</div>
    </div>

    <div class="d-none d-lg-block mb-3 mb-lg-4">
      <button
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="banUser()"
      >
        Ban User
      </button>
    </div>
  </div>

  <!-- filter -->
  <div class="d-flex d-lg-none text-black-secondary mb-2">
    <div class="flex-grow-1"></div>
    <div>
      <i
        class="bi bi-search me-2"
        style="font-size: 20px"
        (click)="openFilter = !openFilter"
      ></i>
      <i
        class="bi bi-plus-square-fill"
        style="font-size: 20px"
        (click)="banUser()"
      ></i>
    </div>
  </div>
  <form *ngIf="openFilter" [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div class="col-12 col-lg-9 mb-4 d-none d-lg-block"></div>

      <div class="col-12 col-lg-3 mb-4">
        <div class="input-group shadow-sm">
          <input
            formControlName="searchText"
            type="text"
            class="form-control border-right-0"
            placeholder="Search"
          />
          <div class="input-group-append border-left-0">
            <span class="input-group-text bg-white">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- user -->
  <div class="flex-grow-1 position-relative shadow-md" style="overflow: auto">
    <!-- loading -->
    <div
      *ngIf="showLoading"
      class="position-absolute w-100 h-100 flex-grow-1 d-flex justify-content-center align-items-center"
      [@fadeIn]
    >
      <div class="spinner-border-lg text-primary">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- no data -->
    <div
      *ngIf="!showLoading && users.length === 0"
      class="position-absolute w-100 h-100 flex-grow-1 d-flex justify-content-center align-items-center"
      [@fadeIn]
    >
      <h3 class="text-black-primary">{{ "general.no-data" | translate }}</h3>
    </div>

    <div
      class="flex-grow-1 shadow-md"
      style="overflow: auto"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      (scrolled)="onScroll()"
    >
      <table class="table">
        <thead>
          <tr>
            <th>{{ "user.name" | translate }}</th>
            <th>{{ "user.email" | translate }}</th>
            <th>{{ "date.title" | translate }}</th>
            <th>Reason</th>
            <th style="width: 1%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | search: searchText.value">
            <td>
              {{ user.name }}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.date }}</td>
            <td>{{ user.reason || "-" }}</td>
            <td style="width: 1%">
              <button
                class="btn btn-danger text-nowrap"
                (click)="unbanUser(user)"
              >
                Lift Ban
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
