table {
  border-collapse: separate;
  border-spacing: 0;
}

table thead tr th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #ffffff;
  white-space: nowrap;
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

table thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
  background: #ffffff;
}

table tbody tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #ffffff;
}

table tbody tr:first-child th,
table tbody tr:first-child td {
  border-top: none;
}

th {
  padding: 15px;
  vertical-align: middle;
}

td {
  padding: 15px;
  vertical-align: middle;
}

.status-available {
  width: 100px;
  background-color: #d9f0f0;
  color: #66c5c5;
}

.status-inuse {
  width: 100px;
  background-color: #fcd4d3;
  color: #f3554f;
}

.status-disabled {
  width: 100px;
  background-color: #d5d9e0;
  color: #586782;
}

.dropdown-menu {
  transform: translateX(-90%) !important;
}

.super-admin-btn-group {
  gap: 10px;
  & > button {
    min-width: 180px;
    height: 36px;
  }
}
