@import "default-variable";

$navbar-background-color: #FFFF;
$footer-background-color: #FFFF;

//register form
$form-register-background-color:#FFFF;
$form-register-hearder: #586782;
$form-register-title: #586782;
//submit button color 
$form-sumbit-gradient-color-start:#66C5C5;
$form-sumbit-gradient-color-end:#004081;