<div
  class="d-flex flex-column p-3 p-lg-5"
  style="
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    margin-top: 60px;
  "
>
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">
        {{ "page.manage-locker-group.title" | translate }}
      </div>
      <div id="page-description">
        {{ "page.manage-locker-group.description" | translate }}
      </div>
    </div>

    <div class="d-none d-lg-block mb-3 mb-lg-4">
      <button
        *ngIf="
          (profile$ | async)?.lockerScopes.indexOf('lockergroups.readWrite') >
            -1 ||
          (profile$ | async)?.lockerScopes.indexOf('lockergroups.full') > -1
        "
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="createLockerGroup()"
      >
        {{ "locker.group.create" | translate }}
      </button>
    </div>
  </div>

  <!-- filter -->
  <div class="d-flex d-lg-none text-black-secondary mb-2">
    <div class="text-decoration-none" (click)="openFilter = !openFilter">
      <i class="bi bi-filter-left me-1" style="font-size: 24px"></i>
      <span class="font-weight-600">{{ "general.filter" | translate }}</span>
    </div>
    <div class="flex-grow-1"></div>
    <div>
      <i
        class="bi bi-search me-2"
        style="font-size: 20px"
        (click)="openSearch = !openSearch"
      ></i>
      <i
        *ngIf="
          (profile$ | async)?.lockerScopes.indexOf('lockergroups.readWrite') >
            -1 ||
          (profile$ | async)?.lockerScopes.indexOf('lockergroups.full') > -1
        "
        class="bi bi-plus-square-fill"
        style="font-size: 20px"
        (click)="createLockerGroup()"
      ></i>
    </div>
  </div>
  <form [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div *ngIf="openFilter" class="col-12 col-lg-5 d-md-flex mb-3 mb-lg-4">
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.building.title" | translate
          }}</label>
          <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
            <select
              formControlName="buildingId"
              class="form-control"
              [class.is-invalid]="buildingId?.touched && buildingId?.errors"
            >
              <option value="">
                {{ "location.building.all" | translate }}
              </option>
              <option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.floor.title" | translate
          }}</label>
          <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
            <select
              formControlName="floorId"
              class="form-control"
              [class.is-invalid]="floorId?.touched && floorId?.errors"
            >
              <option value="">{{ "location.floor.all" | translate }}</option>
              <option *ngFor="let floor of floors" [value]="floor.id">
                {{ floor.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.zone.title" | translate
          }}</label>
          <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
            <select
              formControlName="zoneId"
              class="form-control"
              [class.is-invalid]="zoneId?.touched && zoneId?.errors"
            >
              <option value="">{{ "location.zone.all" | translate }}</option>
              <option *ngFor="let zone of zones" [value]="zone.id">
                {{ zone.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-2 mb-lg-4 d-none d-lg-block"></div>

      <div *ngIf="openSearch" class="col-12 col-lg-3 mb-3 mb-lg-4">
        <div class="w-100">
          <label class="d-none d-lg-block font-size-12 mb-1">&nbsp;</label>
          <div class="input-group shadow-sm">
            <input
              formControlName="searchText"
              type="text"
              class="form-control border-right-0"
              placeholder="Search"
            />
            <div class="input-group-append border-left-0">
                <span class="input-group-text bg-white d-flex align-items-center">
                  <i  class="bi bi-search mb-1"></i>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- <form *ngIf="openFilter" [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div class="col-12 col-lg-5 d-md-flex mb-4">
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="buildingId"
            class="form-control"
            [class.is-invalid]="buildingId?.touched && buildingId?.errors"
          >
            <option value="">{{ "location.building.all" | translate }}</option>
            <option *ngFor="let building of buildings" [value]="building.id">
              {{ building.name }}
            </option>
          </select>
        </div>
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="floorId"
            class="form-control"
            [class.is-invalid]="floorId?.touched && floorId?.errors"
          >
            <option value="">{{ "location.floor.all" | translate }}</option>
            <option *ngFor="let floor of floors" [value]="floor.id">
              {{ floor.name }}
            </option>
          </select>
        </div>
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="zoneId"
            class="form-control"
            [class.is-invalid]="zoneId?.touched && zoneId?.errors"
          >
            <option value="">{{ "location.zone.all" | translate }}</option>
            <option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-4 d-none d-lg-block"></div>

      <div class="col-12 col-lg-3 mb-4">
        <div class="input-group shadow-sm">
          <input
            formControlName="searchText"
            type="text"
            class="form-control border-right-0"
            placeholder="Search"
          />
          <div class="input-group-append border-left-0">
            <span class="input-group-text bg-white">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form> -->

  <!-- table -->
  <div class="flex-grow-1 shadow-md" style="overflow: auto">
    <table class="table">
      <thead>
        <tr>
          <th (click)="changeSort('name')">
            {{ "locker.group.name" | translate }}
          </th>
          <th (click)="changeSort('')">{{ "location.title" | translate }}</th>
          <!-- <th (click)="changeSort('autoAssign')" class="text-center">
            {{ "locker.group.auto-assign" | translate }}
          </th> -->
          <!-- <th (click)="changeSort('guest')">
            {{ "locker.group.allow-guest" | translate }}
          </th> -->
          <th (click)="changeSort('lockerCount')">
            {{ "locker.group.count" | translate }}
          </th>
          <!-- <th class="text-center">{{ "panel.title" | translate }}</th> -->
          <th style="width: 1%"></th>
          <th style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let lockerGroup of lockerGroups
              | search : searchText.value
              | filterLocation : filterForm.value
              | sortBy : sort.order : sort.property
          "
        >
          <td>{{ lockerGroup.name }}</td>
          <td>
            {{ lockerGroup.building }}, {{ lockerGroup.floor }},
            {{ lockerGroup.zone }}
          </td>
          <!-- <td class="text-center" style="font-size: 24px">
            <span *ngIf="lockerGroup.autoAssign" class="text-success">
              <i class="bi bi-check-circle-fill"></i>
            </span>
            <span *ngIf="!lockerGroup.autoAssign" class="text-danger">
              <i class="bi bi-x-circle-fill"></i>
            </span>
          </td> -->
          <!-- <td class="text-center" style="font-size: 24px">
            <span *ngIf="lockerGroup.allowGuest" class="text-success">
              <i class="bi bi-check-circle-fill"></i>
            </span>
            <span *ngIf="!lockerGroup.allowGuest" class="text-danger">
              <i class="bi bi-x-circle-fill"></i>
            </span>
          </td> -->
          <td>
            <ng-container
              *ngIf="
                (profile$ | async)?.lockerScopes.indexOf(
                  'lockergroups.readWrite'
                ) > -1 ||
                  (profile$ | async)?.lockerScopes.indexOf(
                    'lockergroups.full'
                  ) > -1;
                else notHasPermission
              "
            >
              <!-- SuperAdmin and have locker -->
              <span
                *ngIf="lockerGroup.lockerCount"
                class="text-primary text-decoration-underline font-weight-600 pointer"
                (click)="addLockerToLockerGroup(lockerGroup.id)"
              >
                {{ lockerGroup.lockerCount }}
              </span>
              <!-- SuperAdmin and not have locker -->
              
              <button
              *ngIf="!lockerGroup.lockerCount"
              class="btn btn-success text-white text-nowrap d-flex align-items-center"
              (click)="addLockerToLockerGroup(lockerGroup.id)"
            >
              <i class="bi bi-plus-circle-fill custom-icon"></i>
              &nbsp;{{ "locker.add" | translate }}
            </button>
            

            </ng-container>
            <ng-template #notHasPermission>
              <span class="text-primary font-weight-600">
                {{ lockerGroup.lockerCount }}
              </span>
            </ng-template>
          </td>
          <!-- <td class="text-center">{{ lockerGroup.panel }}</td> -->
          <td style="width: 1%">
            <a
              [href]="lockerGroup.layout | imageUrl"
              target="_blank"
              class="btn btn-outline-success text-nowrap d-flex align-items-center"
              ><i class="bi bi-eye custom-icon"></i>&nbsp;{{
                "action.view-layout" | translate
              }}</a
            >
          </td>
          <td style="width: 1%">
            <div class="btn-group" dropdown container="body">
              <i class="bi bi-three-dots-vertical pointer" dropdownToggle></i>

              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                <!-- !เพิ่มใหม่ Set Auto Release  -->
                <li role="menuitem border-0">
                    <a
                      class="dropdown-item"
                      (click)="setOpenAutoRelease(lockerGroup.id)"
                      >{{ "locker.group.set-auto-release" | translate }}</a
                    >
                  </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="setOpenTimeLockerGroup(lockerGroup.id)"
                    >{{ "locker.group.set-open-time" | translate }}</a
                  >
                </li>
                <li
                  *ngIf="
                    (profile$ | async)?.lockerScopes.indexOf(
                      'lockergroups.readWrite'
                    ) > -1 ||
                    (profile$ | async)?.lockerScopes.indexOf(
                      'lockergroups.full'
                    ) > -1
                  "
                  role="menuitem border-0"
                >
                  <a
                    class="dropdown-item"
                    (click)="updateLockerGroup(lockerGroup.id)"
                    >{{ "action.edit" | translate }}</a
                  >
                </li>
                <li
                  *ngIf="
                    (profile$ | async)?.lockerScopes.indexOf(
                      'lockergroups.readWrite'
                    ) > -1 ||
                    (profile$ | async)?.lockerScopes.indexOf(
                      'lockergroups.full'
                    ) > -1
                  "
                  role="menuitem border-0"
                >
                  <a
                    class="dropdown-item"
                    (click)="deleteLockerGroup(lockerGroup)"
                    >{{ "action.delete" | translate }}</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr *ngIf="lockerGroups.length === 0">
          <td colspan="5" class="text-center">
            <div class="p-5">
              <h3>{{ "general.no-data" | translate }}</h3>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
