table {
  border-collapse: separate;
  border-spacing: 0;
}

table thead tr th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #ffffff;
  white-space: nowrap;
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

table tbody tr:first-child th,
table tbody tr:first-child td {
  border-top: none;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
  white-space: nowrap;
  padding: 15px;
}

td {
  padding: 15px;
  vertical-align: middle;
}
