<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5">
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4 text-center">
        <div id="page-title">{{ "user.qr.title" | translate }}</div>
        <div id="page-description"></div>

        <div
          class="d-flex justify-content-center align-items-center"
          *ngIf="qrCode$ | async as qrCode; else loading"
        >
          <qrcode
            [qrdata]="qrCode.qr"
            [width]="350"
            [allowEmptyString]="true"
          ></qrcode>
        </div>

        <ng-template #loading>
          <app-loading></app-loading>
        </ng-template>

        <div class="text-black-secondary" style="font-size: 10px">
          {{ "user.qr.warning.private" | translate }}<br />{{
            "user.qr.warning.do-not-send" | translate
          }}
        </div>
      </div>
    </div>
  </div>
</div>
