<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content d-flex flex-column border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5"
    >
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4">
        <div id="page-title">
          {{ "page.manage-locker-group.add-locker.title" | translate }} •
          {{ lockerGroup?.name }}
        </div>
        <div id="page-description">
          {{ "page.manage-locker-group.add-locker.description" | translate }}
        </div>
      </div>

      <!-- filter -->
      <form [formGroup]="filterForm" class="text-black-primary">
        <div class="row">
          <div class="col-12 col-lg-4 d-md-flex mb-4">
            <div class="input-group shadow-sm">
              <select
                formControlName="zoneId"
                class="form-control"
                [class.is-invalid]="zoneId?.touched && zoneId?.errors"
              >
                <option *ngFor="let zone of zones" [value]="zone.id">
                  {{ zone.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-lg-8 d-md-flex mb-4 align-self-center">
            <span class="font-weight-600 text-danger" style="font-size: 14px">
              *{{ "page.manage-locker-group.add-locker.warning" | translate }}
            </span>
          </div>
        </div>
      </form>

      <!-- select all -->
      <div
        class="d-flex justify-content-between align-items-center shadow-md p-3"
        style="background-color: #f5f8fb"
      >
        <div class="mb-3 mb-lg-0 pointer" (click)="selectAllLocker()">
          <input
            class="pointer"
            [checked]="isSelectedAllLocker()"
            [indeterminate]="isSelectedSomeLocker()"
            type="checkbox"
          />
          {{ "locker.select-all" | translate }}
          &nbsp; ({{
            "locker.plural" | translate: { count: filteredLocker().length }
          }}
          )
        </div>
      </div>

      <!-- table -->
      <div class="flex-grow-1 shadow-md" style="overflow: auto">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 1%"></th>
              <th>{{ "locker.name" | translate }}</th>
              <th>{{ "location.title" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let locker of lockers | filterLocation: filterForm.value"
            >
              <td style="width: 1%">
                <input
                  class="pointer"
                  [checked]="isSelectedLocker(locker.id)"
                  type="checkbox"
                  (click)="addSelectedLocker(locker.id)"
                />
              </td>
              <td>{{ locker.name }}</td>
              <td>
                <span>{{ locker.building }}</span>
                ,&nbsp;
                <span>{{ locker.floor }}</span>
                ,&nbsp;
                <span>{{ locker.zone }}</span>
              </td>
            </tr>
            <tr *ngIf="lockers.length === 0">
              <td colspan="3" class="text-center">
                <div class="p-5">
                  <h3>{{ "general.no-data" | translate }}</h3>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr class="border-bottom-0 mb-4" />

      <div class="d-flex justify-content-center">
        <button
          id="action-button"
          class="btn btn-light text-primary w-100 shadow-sm"
          style="max-width: 180px"
          (click)="cancel()"
        >
          {{ "action.cancel" | translate }}
        </button>
        <div class="mx-2"></div>
        <button
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="add()"
        >
          {{ "action.save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
