<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5">
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4">
        <div *ngIf="!userGroupId" id="page-title">
          {{ "page.manage-user-group.create.title" | translate }}
        </div>
        <div *ngIf="userGroupId" id="page-title">
          {{ "page.manage-user-group.update.title" | translate }}
        </div>
        <div *ngIf="!userGroupId" id="page-description">
          {{ "page.manage-user-group.create.description" | translate }}
        </div>
        <div *ngIf="userGroupId" id="page-description">
          {{ "page.manage-user-group.update.description" | translate }}
        </div>
      </div>

      <form [formGroup]="userGroupForm" class="text-black-primary">
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "user.group.name" | translate
          }}</label>
          <div class="col-sm-7">
            <input
              formControlName="name"
              type="text"
              class="form-control"
              [class.is-invalid]="name?.touched && name?.errors"
              [placeholder]="'user.group.name' | translate"
            />
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "locker.limit" | translate
          }}</label>
          <div class="col-sm-7">
            <input
              formControlName="lockerLimit"
              type="number"
              inputmode="numeric"
              min="1"
              digitOnly
              class="form-control"
              [class.is-invalid]="lockerLimit?.touched && lockerLimit?.errors"
              [placeholder]="'locker.limit' | translate"
            />
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "user.add" | translate
          }}</label>
          <div class="col-sm-7">
            <app-suggest-user (select)="addUser($event)"></app-suggest-user>
          </div>
        </div>

        <div class="shadow-md">
          <div
            class="d-block d-lg-flex justify-content-between align-items-center mb-3 mb-lg-4 p-3"
            style="background-color: #f5f8fb"
          >
            <div class="mb-3 mb-lg-0" (click)="selectAllUsers()">
              <input
                class="pointer"
                [checked]="isSelectedAllUsers()"
                [indeterminate]="isSelectedSomeUser()"
                type="checkbox"
              />
              {{ "action.select-all" | translate }}
            </div>
            <div class="mb-3 mb-lg-0">
              <i class="bi bi-trash-fill" (click)="deleteSelectedUser()"></i>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="width: 1%"></th>
                <th>{{ "user.name" | translate }}</th>
                <th>{{ "user.email" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td style="width: 1%">
                  <input
                    class="pointer"
                    [checked]="isSelectedUser(user.id)"
                    type="checkbox"
                    (click)="addSelectedUser(user.id)"
                  />
                </td>
                <td>{{ user.name }}</td>
                <td>
                  {{ user.email }}
                </td>
              </tr>
              <tr *ngIf="users.length === 0">
                <td colspan="3" class="text-center">
                  <div class="p-5">
                    <h3>{{ "general.no-data" | translate }}</h3>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>

      <hr class="border-bottom-0 mb-4" />

      <div class="d-flex justify-content-center">
        <button
          id="action-button"
          class="btn btn-light text-primary w-100 shadow-sm"
          style="max-width: 180px"
          (click)="cancel()"
        >
          {{ "action.cancel" | translate }}
        </button>
        <div class="mx-2"></div>
        <button
          *ngIf="!userGroupId"
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="create()"
        >
          {{ "action.save" | translate }}
        </button>
        <button
          *ngIf="userGroupId"
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="update()"
        >
          {{ "action.update" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
