<div
  class="d-flex flex-column p-3 p-lg-5"
  style="
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    margin-top: 60px;
  "
>
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">
        {{ "page.manage-panel.title" | translate }}
      </div>
      <div id="page-description">
        {{ "page.manage-panel.description" | translate }}
      </div>
    </div>

    <div class="d-none d-lg-block mb-3 mb-lg-4">
      <button
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="updateDefaultSetting()"
      >
        {{ "panel.default-setting" | translate }}
      </button>
      &nbsp;
      <button
        *ngIf="(profile$ | async)?.lockerRoles.indexOf('0') > -1"
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="createPanel()"
      >
        {{ "panel.create" | translate }}
      </button>
    </div>
  </div>

  <!-- filter -->
  <div class="d-flex d-lg-none text-black-secondary mb-2">
    <div class="text-decoration-none" (click)="openFilter = !openFilter">
      <i class="bi bi-filter-left me-1" style="font-size: 24px"></i>
      <span class="font-weight-600">{{ "general.filter" | translate }}</span>
    </div>
    <div class="flex-grow-1"></div>
    <div>
      <i
        class="bi bi-search me-2"
        style="font-size: 20px"
        (click)="openSearch = !openSearch"
      ></i>
      <i
        class="bi bi-gear-fill"
        style="font-size: 20px"
        (click)="updateDefaultSetting()"
      ></i>
      <i
        *ngIf="(profile$ | async)?.lockerRoles.indexOf('0') > -1"
        class="bi bi-plus-square-fill ms-2"
        style="font-size: 20px"
        (click)="createPanel()"
      ></i>
    </div>
  </div>
  <form [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div *ngIf="openFilter" class="col-12 col-lg-5 d-md-flex mb-3 mb-lg-4">
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.building.title" | translate
          }}</label>
          <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
            <select
              formControlName="buildingId"
              class="form-control"
              [class.is-invalid]="buildingId?.touched && buildingId?.errors"
            >
              <option value="">
                {{ "location.building.all" | translate }}
              </option>
              <option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.floor.title" | translate
          }}</label>
          <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
            <select
              formControlName="floorId"
              class="form-control"
              [class.is-invalid]="floorId?.touched && floorId?.errors"
            >
              <option value="">{{ "location.floor.all" | translate }}</option>
              <option *ngFor="let floor of floors" [value]="floor.id">
                {{ floor.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="w-100 me-0 me-md-3">
          <label class="font-size-12 mb-1">{{
            "location.zone.title" | translate
          }}</label>
          <div class="input-group shadow-sm mb-2 mb-lg-0">
            <select
              formControlName="zoneId"
              class="form-control"
              [class.is-invalid]="zoneId?.touched && zoneId?.errors"
            >
              <option value="">{{ "location.zone.all" | translate }}</option>
              <option *ngFor="let zone of zones" [value]="zone.id">
                {{ zone.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-2 mb-lg-4 d-none d-lg-block"></div>

      <div *ngIf="openSearch" class="col-12 col-lg-3 mb-3 mb-lg-4">
        <div class="w-100">
          <label class="d-none d-lg-block font-size-12 mb-1">&nbsp;</label>
          <div class="input-group shadow-sm">
            <input
              formControlName="searchText"
              type="text"
              class="form-control border-right-0"
              placeholder="Search"
            />
            <div class="input-group-append border-left-0">
              <span class="input-group-text bg-white">
                <i class="bi bi-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- <form *ngIf="openFilter" [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div class="col-12 col-lg-5 d-md-flex mb-4">
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="buildingId"
            class="form-control"
            [class.is-invalid]="buildingId?.touched && buildingId?.errors"
          >
            <option value="">{{ "location.building.all" | translate }}</option>
            <option *ngFor="let building of buildings" [value]="building.id">
              {{ building.name }}
            </option>
          </select>
        </div>
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="floorId"
            class="form-control"
            [class.is-invalid]="floorId?.touched && floorId?.errors"
          >
            <option value="">{{ "location.floor.all" | translate }}</option>
            <option *ngFor="let floor of floors" [value]="floor.id">
              {{ floor.name }}
            </option>
          </select>
        </div>
        <div class="input-group shadow-sm me-3 mb-2 mb-lg-0">
          <select
            formControlName="zoneId"
            class="form-control"
            [class.is-invalid]="zoneId?.touched && zoneId?.errors"
          >
            <option value="">{{ "location.zone.all" | translate }}</option>
            <option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-4 d-none d-lg-block"></div>

      <div class="col-12 col-lg-3 mb-4">
        <div class="input-group shadow-sm">
          <input
            formControlName="searchText"
            type="text"
            class="form-control border-right-0"
            placeholder="Search"
          />
          <div class="input-group-append border-left-0">
            <span class="input-group-text bg-white">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form> -->

  <!-- card -->
  <div class="flex-grow-1 row" style="overflow-y: auto">
    <div
      *ngFor="
        let panel of panels
          | search: searchText.value
          | filterLocation: filterForm.value
      "
      class="col-12 col-md-6 my-2"
    >
      <div class="shadow-lg p-4">
        <div class="d-flex justify-content-between mb-3">
          <div
            class="flex-grow-1 font-weight-600 text-primary"
            style="font-size: 24px"
          >
            {{ panel.name }}
          </div>
          <div
            *ngIf="(profile$ | async)?.lockerRoles.indexOf('0') > -1"
            class="position-relative"
            dropdown
            container="body"
          >
            <i class="bi bi-three-dots-vertical" dropdownToggle></i>

            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem border-0">
                <a class="dropdown-item" (click)="updatePanel(panel.id)">{{
                  "action.edit" | translate
                }}</a>
              </li>
              <li role="menuitem border-0">
                <a class="dropdown-item" (click)="deletePanel(panel)">{{
                  "action.delete" | translate
                }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="flex-grow-1 text-black-primary">
            <div class="mb-2">
              <span class="font-weight-600"
                >{{ "location.title" | translate }} •
              </span>
              <span
                >{{ panel.building }}, {{ panel.floor }}, {{ panel.zone }}</span
              >
            </div>
            <div class="mb-2">
              <span class="font-weight-600"
                >{{ "panel.id" | translate }} •
              </span>
              <span>{{ panel.id }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-600"
                >{{ "locker.group.title" | translate }} •
              </span>
              <span>{{ panel.group }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-600"
                >{{ "panel.client-version" | translate }} •
              </span>
              <span
                >{{ panel.building }}, {{ panel.floor }},
                {{ panel.zone }},</span
              >
            </div>
            <div class="mb-2">
              <span class="font-weight-600"
                >{{ "panel.last-seen" | translate }} •
              </span>
              <span class="text-success">
                {{ panel.lastSeen | dateFormat: "DD/MM/YYYY - HH:mm" }}
              </span>
            </div>
          </div>
          <div class="align-self-end">
            <button class="btn btn-primary" (click)="settingPanel(panel.id)">
              {{ "panel.setting" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="panels.length === 0"
      class="col-12 d-flex justify-content-center align-items-center p-5"
    >
      <h3 class="text-black-secondary">{{ "general.no-data" | translate }}</h3>
    </div>
  </div>
</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
