<div
  class="bg-black"
  style="
    background-image: url(./config/images/bg-login.png);
    background-size: cover;
  "
>
  <div
    class="container h-100"
    style="height: 100vh !important; max-width: 600px; margin-right: 0"
  >
    <div class="row h-100 justify-content-center align-items-center bg-white">
      <div class="col-12 p-4" style="max-width: 450px">
        <div class="mb-5">
          <img
            class="logo-login"
            [src]="'./config/images/logo-login.png' | imageUrl"
          />
        </div>
        <div class="mb-5">
          <h1 class="font-weight-500 text-black-primary">Welcome to Locker</h1>
          <span class="text-black-primary">{{
            "login.please-sign-in" | translate
          }}</span>
        </div>

        <div *ngIf="ADSSOLogin || ADFSLogin || GoogleLogin">
          <label class="font-weight-500 text-black-primary">Login with</label>
          <div *ngIf="ADSSOLogin" class="form-group mb-3">
            <button class="btn btn-primary-gradient w-100">ADSSO</button>
          </div>
          <div *ngIf="ADFSLogin" class="form-group mb-3">
            <button class="btn btn-outline-primary w-100" type="button" (click)="adfsLogin()">
              <img
                src="assets/images/microsoft-logo.png"
                class="me-3"
                style="width: 20px; height: 20px"
              />
              Microsoft Login
            </button>
          </div>

          <div *ngIf="GoogleLogin" class="form-group mb-3">
            <div id="googleLoginButton"></div>
          </div>

          <div class="or-element my-4">
            <span>or</span>
          </div>
        </div>

        <form [formGroup]="userForm" class="text-black-primary">
          <div class="form-group mb-3">
            <label class="font-weight-500 text-black-primary">Username</label>
            <input
              formControlName="username"
              name="username"
              type="text"
              inputmode="email"
              class="form-control"
              [class.is-invalid]="username?.touched && username?.errors"
              placeholder="{{ 'login.username' | translate }}"
            />
          </div>
          <div class="form-group mb-3">
            <label class="font-weight-500 text-black-primary">Password</label>
            <input
              formControlName="password"
              password="password"
              type="password"
              class="form-control"
              [class.is-invalid]="password?.touched && password?.errors"
              placeholder="{{ 'login.password' | translate }}"
            />
          </div>
          <button class="btn w-100 btn-primary-gradient mb-4" type="submit" (click)="login()">
            {{ "action.login" | translate }}
          </button>
        </form>
        <!-- <div class="text-center font-weight-500 text-black-primary">
          Need Help ? Please Contact
        </div> -->
      </div>
    </div>
  </div>
</div>

<div
  class="position-fixed text-black-primary p-2"
  style="bottom: 0; right: 0; font-size: 8px"
>
  {{ version }}
</div>
