<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5">
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4">
        <div id="page-title">
          {{ "page.manage-user-group.add-locker-group.title" | translate }}
        </div>
        <div id="page-description">
          {{
            "page.manage-user-group.add-locker-group.description" | translate
          }}
        </div>
      </div>

      <!-- filter -->
      <form [formGroup]="filterForm" class="text-black-primary">
        <div class="row">
          <div class="col-12 col-lg-4 d-md-flex mb-4">
            <div class="input-group shadow-sm">
              <select
                formControlName="buildingId"
                class="form-control"
                [class.is-invalid]="buildingId?.touched && buildingId?.errors"
              >
                <option value="">
                  {{ "location.building.all" | translate }}
                </option>
                <option
                  *ngFor="let building of buildings"
                  [value]="building.id"
                >
                  {{ building.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-md-flex mb-4">
            <div class="input-group shadow-sm">
              <select
                formControlName="floorId"
                class="form-control"
                [class.is-invalid]="floorId?.touched && floorId?.errors"
              >
                <option value="">{{ "location.floor.all" | translate }}</option>
                <option *ngFor="let floor of floors" [value]="floor.id">
                  {{ floor.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-md-flex mb-4">
            <div class="input-group shadow-sm">
              <select
                formControlName="zoneId"
                class="form-control"
                [class.is-invalid]="zoneId?.touched && zoneId?.errors"
              >
                <option value="">{{ "location.zone.all" | translate }}</option>
                <option *ngFor="let zone of zones" [value]="zone.id">
                  {{ zone.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>

      <!-- select all -->
      <div
        class="d-block d-lg-flex justify-content-between align-items-center mb-3 mb-lg-4 p-3"
        style="background-color: #f5f8fb"
      >
        <div class="mb-3 mb-lg-0" (click)="selectAllLockerGroup()">
          <input
            class="pointer"
            [checked]="isSelectedAllLockerGroup()"
            [indeterminate]="isSelectedSomeLockerGroup()"
            type="checkbox"
          />
          {{ "action.select-all" | translate }}
        </div>
      </div>

      <!-- table -->
      <div
        class="shadow-md"
        style="min-height: 50vh; max-height: 50vh; overflow: auto"
      >
        <table class="table">
          <thead>
            <tr>
              <th style="width: 1%"></th>
              <th>{{ "locker.name" | translate }}</th>
              <th>{{ "location.title" | translate }}</th>
              <th>{{ "locker.group.auto-assign" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let lockerGroup of lockerGroups
                  | filterLocation: filterForm.value
              "
            >
              <td style="width: 1%">
                <input
                  class="pointer"
                  [checked]="isSelectedLockerGroup(lockerGroup.id)"
                  type="checkbox"
                  (click)="addSelectedLockerGroup(lockerGroup.id)"
                />
              </td>
              <td>{{ lockerGroup.name }}</td>
              <td>
                <span>{{ lockerGroup.building }}</span>
                ,&nbsp;
                <span>{{ lockerGroup.floor }}</span>
                ,&nbsp;
                <span>{{ lockerGroup.zone }}</span>
              </td>
              <td class="text-center" style="font-size: 24px">
                <span *ngIf="lockerGroup.autoAssign" class="text-success">
                  <i class="bi bi-check-circle-fill"></i>
                </span>
                <span *ngIf="!lockerGroup.autoAssign" class="text-danger">
                  <i class="bi bi-x-circle-fill"></i>
                </span>
              </td>
            </tr>
            <tr *ngIf="lockerGroups.length === 0">
              <td colspan="4" class="text-center">
                <div class="p-5">
                  <h3>{{ "general.no-data" | translate }}</h3>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr class="border-bottom-0 mb-4" />

      <div class="d-flex justify-content-center">
        <button
          id="action-button"
          class="btn btn-light text-primary w-100 shadow-sm"
          style="max-width: 180px"
          (click)="cancel()"
        >
          {{ "action.cancel" | translate }}
        </button>
        <div class="mx-2"></div>
        <button
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="add()"
        >
          {{ "action.save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
