<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0 px-3 px-sm-5 py-4 py-sm-5">
      <div class="text-end">
        <i
          class="bi bi-x pointer"
          style="font-size: 32px; color: #a4afbf"
          (click)="cancel()"
        ></i>
      </div>
      <div class="mb-4">
        <div *ngIf="!panelId" id="page-title">
          {{ "page.manage-panel.create.title" | translate }}
        </div>
        <div *ngIf="panelId" id="page-title">
          {{ "page.manage-panel.update.title" | translate }}
        </div>
        <div *ngIf="!panelId" id="page-description">
          {{ "page.manage-panel.create.description" | translate }}
        </div>
        <div *ngIf="panelId" id="page-description">
          {{ "page.manage-panel.update.description" | translate }}
        </div>
      </div>

      <form [formGroup]="panelForm" class="text-black-primary">
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "panel.name" | translate
          }}</label>
          <div class="col-sm-7">
            <input
              formControlName="name"
              type="text"
              class="form-control"
              [class.is-invalid]="name?.touched && name?.errors"
              placeholder="Panel Name"
            />
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "panel.id" | translate
          }}</label>
          <div class="col-sm-7">
            <input
              formControlName="id"
              type="text"
              class="form-control"
              [class.is-invalid]="id?.touched && id?.errors"
              [attr.disabled]="true"
              placeholder="Panel ID"
            />
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "location.building.title" | translate
          }}</label>
          <div class="col-sm-7">
            <select
              formControlName="buildingId"
              class="form-control"
              [class.is-invalid]="buildingId?.touched && buildingId?.errors"
            >
              <option value="" disabled>
                {{ "location.building.select" | translate }}
              </option>
              <option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "location.floor.title" | translate
          }}</label>
          <div class="col-sm-7">
            <select
              formControlName="floorId"
              class="form-control"
              [class.is-invalid]="floorId?.touched && floorId?.errors"
            >
              <option value="" disabled>
                {{ "location.floor.select" | translate }}
              </option>
              <option *ngFor="let floor of floors" [value]="floor.id">
                {{ floor.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "location.zone.title" | translate
          }}</label>
          <div class="col-sm-7">
            <select
              formControlName="zoneId"
              class="form-control"
              [class.is-invalid]="zoneId?.touched && zoneId?.errors"
            >
              <option value="" disabled>
                {{ "location.zone.select" | translate }}
              </option>
              <option *ngFor="let zone of zones" [value]="zone.id">
                {{ zone.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "location.group.title" | translate
          }}</label>
          <div class="col-sm-7">
            <select
              formControlName="groupId"
              class="form-control"
              [class.is-invalid]="groupId?.touched && groupId?.errors"
            >
              <option value="" disabled>
                {{ "location.group.select" | translate }}
              </option>
              <option *ngFor="let group of groups" [value]="group.id">
                {{ group.name }}
              </option>
            </select>
          </div>
        </div>
      </form>

      <hr class="border-bottom-0 mb-4" />

      <div class="d-flex justify-content-center">
        <button
          id="action-button"
          class="btn btn-light text-primary w-100 shadow-sm"
          style="max-width: 180px"
          (click)="cancel()"
        >
          {{ "action.cancel" | translate }}
        </button>
        <div class="mx-2"></div>
        <button
          *ngIf="!panelId"
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="create()"
        >
          {{ "action.save" | translate }}
        </button>
        <button
          *ngIf="panelId"
          id="action-button"
          class="btn btn-primary-gradient w-100 shadow-sm"
          style="max-width: 180px"
          (click)="update()"
        >
          {{ "action.update" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
