<app-block-ui [isBlocked]="isLoading"></app-block-ui>

<div class="register-container">
  <div class="left-panel">
    <img class="register-image" [src]="backgroundImagePath" alt="Register Image">
    <div class="overlay-text">
      <h1 class="image-text"> {{registerPage.Header}}</h1>
      <h2 class="gradient-text">{{registerPage.content}}</h2>
      <p class="images-content">{{registerPage.footer}}</p>
    </div>
  </div>
  <div class="right-panel">
    <form *ngIf="registerFlag" [formGroup]="registerForm" class="right-panel-form" (ngSubmit)="onSubmit()"
      (keydown.enter)="onSubmit()" #form="ngForm">
      <h2>{{ 'registerPage.Header' | translate }}</h2>
      <h4>{{ 'form.visitDetail' | translate }}</h4>

      <div class="form-group">
        <label for="first-name" data-required="true">{{ 'form.firstName' | translate }}</label>
        <input type="text" id="first-name" formControlName="firstName" placeholder="{{ 'form.firstName' | translate }}"
          [ngClass]="{'is-invalid': registerForm.controls.firstName.invalid && (registerForm.controls.firstName.touched || form.submitted)}">
      </div>

      <div class="form-group">
        <label for="last-name" data-required="true">{{ 'form.lastName' | translate }}</label>
        <input type="text" id="last-name" formControlName="lastName" placeholder="{{ 'form.lastName' | translate }}"
          [ngClass]="{'is-invalid': registerForm.controls.lastName.invalid && (registerForm.controls.lastName.touched || form.submitted)}">
      </div>

      <div class="form-group">
        <label for="email">{{ 'form.email' | translate }}</label>
        <input type="email" id="email" formControlName="email" placeholder="example@example.com">
      </div>

      <div class="form-group">
        <label for="phone" data-required="true">{{ 'form.phone' | translate }}</label>
        <input maxlength="12" type="tel" id="phone" formControlName="phone" placeholder="123-456-7890"
          [ngClass]="{'is-invalid': registerForm.controls.phone.invalid && (registerForm.controls.phone.touched || form.submitted)}">
      </div>

      <div class="form-group">
        <label for="company">{{ 'form.company' | translate }}</label>
        <input type="text" id="company" formControlName="company" placeholder="{{ 'form.company' | translate }}">
      </div>

      <div class="form-group">
        <label for="id-passport" data-required="true">{{ 'form.idPassport' | translate }}</label>
        <input maxlength="17" type="text" id="id-passport" formControlName="idPassport" placeholder="0-0008-000-00-00-0"
          [ngClass]="{'is-invalid': registerForm.controls.idPassport.invalid && (registerForm.controls.idPassport.touched || form.submitted)}">
      </div>

      <div class="form-group">
        <label for="license-plate">{{ 'form.licensePlate' | translate }}</label>
        <input type="text" id="license-plate" formControlName="licensePlate" placeholder="ABC-1234">
      </div>

      <div>
        <h4>{{ 'form.visitDetail' | translate }}</h4>
      </div>

      <div class="form-group">
        <label for="host-email">{{ 'form.hostEmail' | translate }}</label>
        <input type="email" id="host-email" formControlName="hostEmail" placeholder="example@example.com">
      </div>
      <app-captcha></app-captcha>
      <div class="line"></div>
      <button type="submit" class="submit-button">{{ 'form.registerButton' | translate }}</button>
    </form>

    <!--! REGISTER SUCCESS -->
    <div *ngIf="!registerFlag" class="right-panel-form" style="text-align: center; padding: 50px;">
      <div class="image-container">
        <div class="circle-background"></div>
        <img class="img-success-completed" [src]="successImagePath" alt="Register Image">
      </div>
      <h2 style="font-size: 24px; color: #4F4F4F;">{{ 'form.registrationCompleted' | translate }}</h2>
      <p style="font-size: 16px; color: #8F8F8F;">{{ 'form.registrationSuccessMessage' | translate }}</p>

      <div class="line_completed_register"></div>
      <button (click)="router_register()" type="submit" class="submit-button-register-completed">{{
        'form.registerButton' | translate }}</button>
      <div class="text-powered">{{ 'form.poweredBy' | translate }} <img class="img-powered" [src]="logoImagePath"
          alt="Logo Image"></div>
    </div>


  </div>
</div>