<div class="p-3 p-lg-5" style="margin-top: 60px">
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">
        {{ "page.server-setting.title" | translate }}
      </div>
      <div id="page-description">
        {{ "page.server-setting.description" | translate }}
      </div>
    </div>
  </div>

  <!-- setting -->
  <div class="mb-5">
    <app-location-setting></app-location-setting>
  </div>

  <!-- <div class="mb-5">
    <app-holiday-setting></app-holiday-setting>
  </div> -->

  <div class="mb-5">
    <app-send-email-to-admin></app-send-email-to-admin>
  </div>

</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
