<div
  class="d-flex flex-column p-3 p-lg-5"
  style="
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    margin-top: 60px;
  "
>
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">
        {{ "page.manage-card.title" | translate }}
      </div>
      <div id="page-description">
        {{ "page.manage-card.description" | translate }}
      </div>
    </div>

    <div class="d-none d-lg-block mb-3 mb-lg-4  group-button-header">

      <button class="btn btn-primary-gradient" (click)="downloadTemplate()">
        {{ "card.download-template" | translate }}
      </button>

      <input
        type="file"
        [hidden]="true"
        (change)="uploadCardFile($event)"
        accept=".csv"
        #cardFile
      />

      <button class="btn btn-primary-gradient" (click)="cardFile.click()">
        {{ "card.import-csv" | translate }}
      </button>

      <button
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="createCard()">
        {{ "card.create" | translate }}
      </button>
    </div>
  </div>

  <!-- filter -->
  <div class="d-flex d-lg-none text-black-secondary mb-2">
    <div class="flex-grow-1"></div>
    <div>
      <i
        class="bi bi-search me-2"
        style="font-size: 20px"
        (click)="openFilter = !openFilter"
      ></i>
      <i
        class="bi bi-plus-square-fill"
        style="font-size: 20px"
        (click)="createCard()"
      ></i>
    </div>
  </div>

  <form *ngIf="openFilter" [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div class="col-12 col-lg-9 mb-4 d-none d-lg-block"></div>

      <div class="col-12 col-lg-3 mb-4">
        <div class="input-group shadow-sm">
          <input
            formControlName="searchText"
            type="text"
            class="form-control border-right-0"
            placeholder="Search"
          />
          <div class="input-group-append border-left-0">
            <span class="input-group-text bg-white">
              <i class="bi bi-search" (click)="search()"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- user -->
  <div
    class="flex-grow-1 d-flex position-relative shadow-md"
    style="overflow: auto"
  >
    <!-- loading -->
    <div
      *ngIf="showLoading"
      class="position-absolute w-100 h-100 flex-grow-1 d-flex justify-content-center align-items-center"
      [@fadeIn]
    >
      <div class="spinner-border-lg text-primary">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- no data -->
    <div
      *ngIf="!showLoading && cards.length === 0"
      class="position-absolute w-100 h-100 flex-grow-1 d-flex justify-content-center align-items-center"
      [@fadeIn]
    >
      <h3 class="text-black-primary">{{ "general.no-data" | translate }}</h3>
    </div>

    <div
      class="flex-grow-1 shadow-md"
      style="overflow: auto"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      (scrolled)="onScroll()"
    >
      <table class="table">
        <thead>
          <tr>
            <th>{{ "card.id" | translate }}</th>
            <th>{{ "user.name" | translate }}</th>
            <th>{{ "user.email" | translate }}</th>
            <th style="width: 1%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cards">
            <td>
              {{ card.cardId }}
            </td>
            <td>{{ card.name }}</td>
            <td>{{ card.email }}</td>
            <td style="width: 1%">
              <div class="position-relative" dropdown container="body">
                <i class="bi bi-three-dots-vertical" dropdownToggle></i>

                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                  <li role="menuitem border-0">
                    <a
                      class="dropdown-item"
                      (click)="updateCard(card.cardId)"
                      >{{ "action.edit" | translate }}</a
                    >
                  </li>
                  <li role="menuitem border-0">
                    <a class="dropdown-item" (click)="deleteCard(card)">{{
                      "action.delete" | translate
                    }}</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
