<div
  class="d-flex flex-column p-3 p-lg-5"
  style="
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    margin-top: 60px;
  "
>
  <!-- header -->
  <div class="d-block d-lg-flex justify-content-between">
    <div class="mb-3 mb-lg-4">
      <div id="page-title" class="mb-2">
        {{ "page.manage-user-group.title" | translate }}
      </div>
      <div id="page-description">
        {{ "page.manage-user-group.description" | translate }}
      </div>
    </div>

    <div class="d-none d-lg-block mb-3 mb-lg-4">
      <button
        class="btn btn-primary-gradient"
        style="min-width: 180px"
        (click)="createUserGroup()"
      >
        {{ "user.group.create" | translate }}
      </button>
    </div>
  </div>

  <!-- filter -->
  <div class="d-flex d-lg-none text-black-secondary mb-2">
    <div class="flex-grow-1"></div>
    <div>
      <i
        class="bi bi-search me-2"
        style="font-size: 20px"
        (click)="openFilter = !openFilter"
      ></i>
      <i
        class="bi bi-plus-square-fill"
        style="font-size: 20px"
        (click)="createUserGroup()"
      ></i>
    </div>
  </div>
  <form *ngIf="openFilter" [formGroup]="filterForm" class="text-black-primary">
    <div class="row">
      <div class="col-12 col-lg-9 mb-4 d-none d-lg-block"></div>

      <div class="col-12 col-lg-3 mb-4">
        <div class="input-group shadow-sm">
          <input
            formControlName="searchText"
            type="text"
            class="form-control border-right-0"
            placeholder="Search"
          />
          <div class="input-group-append border-left-0">
            <span class="input-group-text bg-white">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- table -->
  <div class="flex-grow-1 shadow-md" style="overflow: auto">
    <table class="table">
      <thead>
        <tr>
          <th (click)="changeSort('name')">
            {{ "user.group.name" | translate }}
          </th>
          <th (click)="changeSort('users')">{{ "user.count" | translate }}</th>
          <th (click)="changeSort('lockerLimit')">
            {{ "locker.limit" | translate }}
          </th>
          <th (click)="changeSort('lockerGroups')">
            {{ "locker.group.access" | translate }}
          </th>
          <th style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let userGroup of userGroups
              | search: searchText.value
              | filterLocation: filterForm.value
              | sortBy: sort.order:sort.property
          "
        >
          <td>{{ userGroup.name }}</td>
          <td>{{ userGroup.users?.length }}</td>
          <td>{{ userGroup.lockerLimit }}</td>
          <td>
            <button
  *ngIf="!userGroup.lockerGroups?.length"
  class="btn btn-success text-white d-flex align-items-center justify-content-center"
  (click)="addLockerGroupToUserGroup(userGroup.id)"
  style="padding: 0.5rem 1rem; display: flex; align-items: center;"
>
  <i class="bi bi-plus-circle-fill" style="font-size: 1.2rem; line-height: 1;"></i>
  <span style="margin-left: 0.5rem; font-size: 1rem; line-height: 1;">Add Locker Group Access</span>
</button>

          
          
            <span
              *ngIf="userGroup.lockerGroups?.length"
              class="text-primary text-decoration-underline font-weight-600 pointer"
              (click)="addLockerGroupToUserGroup(userGroup.id)"
              >{{ userGroup.lockerGroups?.length }}</span
            >
          </td>
          <td style="width: 1%">
            <div class="btn-group" dropdown container="body">
              <i class="bi bi-three-dots-vertical" dropdownToggle></i>

              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                <li role="menuitem border-0">
                  <a
                    class="dropdown-item"
                    (click)="updateUserGroup(userGroup.id)"
                    >{{ "action.edit" | translate }}</a
                  >
                </li>
                <li role="menuitem border-0">
                  <a
                    class="dropdown-item"
                    (click)="deleteUserGroup(userGroup)"
                    >{{ "action.delete" | translate }}</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr *ngIf="userGroups.length === 0">
          <td colspan="5" class="text-center">
            <div class="p-5">
              <h3>{{ "general.no-data" | translate }}</h3>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="position-absolute"
  style="z-index: 100"
  [@fade]="outlet.isActivated ? outlet.activatedRoute : ''"
>
  <router-outlet #outlet="outlet" class="position-absolute"></router-outlet>
</div>
